extends ./layouts/default

block title
    title Koa douban首页

block content
    .container
     .row
       .col-md-8
         h1 hi #{you}
         p this is #{me}
       .col-md-4
         h3 测试模板引擎中间件
